.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
 .container-login{
   max-width: 300px;
 }
.button{
    transition: all 0.2s linear;
    display: inline-block;
    font-size: 16px;
    color: $gray-dark;
    padding: 20px 30px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    line-height: normal;
    text-decoration: none;
    &--primary{
      color: white;
      background-color: $primary-color;
    }
    
}