.header{
    padding-top: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-logo{
        &-image{
            width: 250px;
        }
    }
    &-menu{
        display: flex;
        align-items: center;
        gap: 60px;
        &-item{    
            a{
                color: $gray-dark;
                text-decoration: none;
                &:hover {
                    color: $primary-color;
                    transition: color 0.2s ease-in-out;
                  }
            }
        }
    }
    &-search{
        padding: 10px;
        background-color: #F3F4F4;
        width: 100px;
        height: 25px;
        border: 5px;
        input{
            width: inherit;
            padding: 10px 0;
            border: 0px;
        }
    }
}
