.login {
  &-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &-logo{
    padding: 6px 12px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
  }
  &-password__input{
      back
  }
}
