.login{
    width: 400px;
    margin: 0 auto;
    background-color: $background;
    border-radius: 20px;
    padding: 40px;
    &-field{
        display: flex;
        align-items: center;
        background-color: $background-input;
        padding: 15px;
        border-radius: 16px;
        margin-bottom: 20px;
    }
    &-icon{
        fz
    }
}