.login {
  &-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: ;
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &-logo {
    width: 40px;
    height: 40px;
    background-color: #cccc;
    border-radius: 5px;
  }
}
