.login{
    &-title{
        font-size: 36px;
        font-weight: bold;
    }
    &-item{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    &-logo{
        width: ;
    }
}